In [1]:
import pandas as pd

In [2]:
pd.read_csv("tcl.csv")
sampiyon=pd.read_csv("tcl.csv",delimiter=";")

In [ ]:
sampiyon.head(3)

,year,team,played,won,drawn,lost,goals_for,goals_against,goal_difference,points
0,1959,Fenerbahce,16,13,2,1,33,8,25,28
1,1960,Besiktas,38,29,7,2,68,15,53,65
2,1961,Fenerbahce,38,26,9,3,81,29,52,61

In [ ]:
a=sampiyon["points"]-sampiyon["drawn"]

In [ ]:
b=sampiyon["iki olanlar"]=a/sampiyon["won"]==2

In [ ]:
sampiyon[sampiyon["iki olanlar"]].head(3)

,year,team,played,won,drawn,lost,goals_for,goals_against,goal_difference,points,iki olanlar
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,True
1,1960,Besiktas,38,29,7,2,68,15,53,65,True
2,1961,Fenerbahce,38,26,9,3,81,29,52,61,True

In [ ]:
c=a/2

In [ ]:
d=sampiyon["üçyaptık"]=c*3

In [ ]:
sampiyon

In [3]:
#hocanın çözüm:
sampiyon.columns=["yil","takim","oyun","galibiyet","beraberlik","maglubiyet",
                  "atilan_gol","yenilen_gol","averaj","puan"]

In [4]:
sampiyon.head(3)

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan
0,1959,Fenerbahce,16,13,2,1,33,8,25,28
1,1960,Besiktas,38,29,7,2,68,15,53,65
2,1961,Fenerbahce,38,26,9,3,81,29,52,61

In [5]:
#galibiyetin 2 puan old. yılları normallestirmek için
#tekrar puan hesaplaması yapalım

In [7]:
sampiyon.tail(3) #son3 satır

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan
57,2016,Besiktas,34,25,4,5,75,35,40,79
58,2017,Besiktas,34,23,8,3,73,30,43,77
59,2018,Galatasaray,34,24,3,7,75,33,42,75

In [10]:
sampiyon["puan_duzelmis"]=(sampiyon["galibiyet"]*3)+(sampiyon["beraberlik"]*1)

In [11]:
sampiyon[sampiyon["puan"]==sampiyon["puan_duzelmis"]].iloc[[0]]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzelmis
29,1988,Galatasaray,38,27,9,2,86,35,51,90,90

In [17]:
#hangi takım kac kez sampiyon olmus bul,tablo yap
sampiyonlar=pd.DataFrame(sampiyon["takim"].value_counts())

In [18]:
sampiyonlar

             takim
Galatasaray     21
Fenerbahce      19
Besiktas        13
Trabzonspor      6
Bursaspor        1

In [20]:
sampiyonlar.to_excel("sampiyon.xlsx") #excel çıktısı

In [22]:
#grouplama yapcaz mesela önce besiktalar gelsin sonra fenerler
#kac farklı takım sampiyon olmus

In [23]:
len(sampiyon["takim"].unique())

5

In [24]:
sampiyon.head(3)

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzelmis
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41
1,1960,Besiktas,38,29,7,2,68,15,53,65,94
2,1961,Fenerbahce,38,26,9,3,81,29,52,61,87

In [ ]:
sampiyon.groupby(by=["takim","yil"]).sum() #ama mesela 1960da iki tane veri olsaydı ort alcagı için olmazdı

In [37]:
#en yüksek puanla şampiyon olan takım
maxpuan=sampiyon["puan_duzelmis"].max()
sampiyon[sampiyon["puan_duzelmis"]==maxpuan]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzelmis
1,1960,Besiktas,38,29,7,2,68,15,53,65,94

In [38]:
#en düşük puanla sampiyon olan takım
minpuan=sampiyon["puan_duzelmis"].min()
sampiyon[sampiyon["puan_duzelmis"]==minpuan]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzelmis
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41

In [41]:
#en yüksek puan ort. ile samp olan takım:mac sayısı da onemli,orn 90 puan 30 mac:1 mac ort 3 oldu
sampiyon["ort_puan"]=sampiyon["puan_duzelmis"]/sampiyon["oyun"]

maxortpuan=sampiyon["ort_puan"].max()
sampiyon[sampiyon["ort_puan"]==maxortpuan]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzelmis,ort_puan
30,1989,Fenerbahce,36,29,6,1,103,27,76,93,93,2.583333

In [43]:
#en az puan ort. ile samp olan takım

minortpuan=sampiyon["ort_puan"].min()
sampiyon[sampiyon["ort_puan"]==minortpuan]

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzelmis,ort_puan
21,1980,Trabzonspor,30,12,15,3,25,11,14,39,51,1.7

In [45]:
#sampiyon olan takımların mac bası ort gol sayılar
sampiyon["ort_gol"]=sampiyon["atilan_gol"]/sampiyon["oyun"]
sampiyon.head(3)

,yil,takim,oyun,galibiyet,beraberlik,maglubiyet,atilan_gol,yenilen_gol,averaj,puan,puan_duzelmis,ort_puan,ort_gol
0,1959,Fenerbahce,16,13,2,1,33,8,25,28,41,2.562500,2.062500
1,1960,Besiktas,38,29,7,2,68,15,53,65,94,2.473684,1.789474
2,1961,Fenerbahce,38,26,9,3,81,29,52,61,87,2.289474,2.131579

In [46]:
#superlig tarihinin samp mac basına ort puanları

In [48]:
sampiyon["ort_puan"].mean()

2.187392790781916

In [ ]:
sampiyonlar.to_excel("sampiyon.xlsx")